<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>Concept map</title>
<link href="https://playground.anychart.com/gJi37VXA/iframe"
	rel="canonical">
<meta content="Tag Cloud,Weighted List Chart,Word Cloud,Tooltip"
	name="keywords">
<meta
	content="AnyChart - JavaScript Charts designed to be embedded and integrated"
	name="description">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
html, body, #container {
	position: relative;
	width: 100%;
	height: 50vw;
	margin: 0;
	padding: 0;
	left: 0;
}
</style>
<title th:text='#{cloud.title}'></title>

</head>
<body>
	<section>
		<div id="container"></div>
		<script th:src="@{/js/anychart-base.min.js}"></script>
		<script th:src="@{/js/anychart-tag-cloud.min.js}"></script>


		<!-- <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>  -->

		<script type="text/javascript">anychart.onDocumentReady(function () {

  var data = [
    {"x": "Discovery", "value": 206 },
    {"x": "Development", "value": 111},
    {"x": "Work", "value": 95},
    {"x": "Theory", "value": 67},
    {"x": "Contributions", "value": 66},
    {"x": "Structure", "value": 54},
    {"x": "Recognition", "value": 52},
    {"x": "Economic", "value": 47},
    {"x": "Chemical", "value": 46},
    {"x": "Analysis", "value": 39},
    {"x": "Pioneering", "value": 37},
    {"x": "Methods", "value": 33},
    {"x": "Synthesis", "value": 33},
    {"x": "Human", "value": 31},
    {"x": "Cell", "value": 30}
  ];

  // create a tag cloud chart
  var chart = anychart.tagCloud(data);

  // set the chart title
  chart.title('Concepts')

  // set array of angles, by which words will be placed
  chart.angles([0])
  // enable color range
 // chart.colorRange(true);
  // set color range length
  chart.colorRange().length('100%');

  // display chart
  chart.container("container");
  chart.draw();
  
});</script>
	</section>
</body>
</html>







