<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">

<head>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script language="JavaScript" type="text/javascript"
	src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript"
	src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript"
	src="/js/sprinkle.js"></script>




</head>
<body>
	<section>
		<div class="cr">


			<h2 th:text='#{navbar.text1}'></h2>
			<h2 th:text='#{navbar.text2}'></h2>

		</div>
		<div class="card text-center" id="div1">
			<div class="card-header">
				<p th:text="#{navbar.concepts}"></p>
			</div>
			<div id="hj" class="card-header">
				<p class="prp" th:text="#{navbar.term}"></p>
				<p class="prp" th:text="#{navbar.files}"></p>
				<p class="prp" th:text="#{navbar.paths}"></p>
			</div>

			<div id="d2"></div>

		</div>
		<script th:inline="javascript">
			var txt = "";
			var rr = document.getElementById("hj").innerHTML;
			console.log(rr);
			var e = rr.split('<p class="prp">');
			var l1=e[1].split('<');
			console.log("MIkel" + e.length);
			for(var s=0; s<e.length ; s++){
				
				console.log("LL:  " +e[s]);
			}
			var w1 =l1[0];
			
			var l2=e[2].split('<');
			var w2 =l2[0];
			
			var l3=e[3].split('<');
			var w3 =l3[0];
		
			
			
			

			/*<![CDATA[*/

			var terms = /*[[${concepts}]]*/'default';
			var paths = /*[[${paths}]]*/'default';

			/*]]>*/
			function getFile(term1) {
				var lines = paths.split('\n');
				for (var i = 0; i < lines.length - 1; i++) {
					if (lines[i].includes(term1)) {
						var result = "<ul>";
						var aux = "";
						var ss = lines[i].split("[");
						//console.log(ss);
						var ss1 = ss[1].split(";");
						//console.log(ss1);
						//console.log("Emaitza: " + ss1[0].split(" "));

						for (var j = 0; j < ss1.length - 1; j++) {
							var ss2 = ss1[j].split(" ");
							//console.log("Emaitza: " + ss2);
							var ss3 = ss2[0].split(":");
							aux += "<li><a class='linka' href='http://localhost:9898/codefiles/"+ss3[0]+"'>"
									+ ss3[0] + "</a></li>";

						}
						//console.log("Emaitza: " + ss1[0].split(" "));
						var ss2 = ss1[ss1.length - 1].split(" ");
						var ss3 = ss2[0].split(":");

						aux += "<li><a class='linka' href='http://localhost:9898/codefiles/"+ss3[0]+"'>"
								+ ss3[0] + "</a></li>";
						result += aux;
						result += "</ul>";
						return (result);
					}
				}
			}
			function getPath(term1) {
				var result = "<ul>";
				var aux = "";
				var lines = paths.split('\n');
				for (var i = 0; i < lines.length - 1; i++) {
					if (lines[i].includes(term1)) {
						var ss = lines[i].split("[");
						//console.log(ss);
						var ss1 = ss[1].split(";");
						//console.log(ss1);
						//console.log("Emaitza: " + ss1[0].split(" "));

						for (var j = 0; j < ss1.length - 1; j++) {
							var ss2 = ss1[j].split(" ");
							//console.log(ss2);
							var ss3 = ss2[1].split("]");
							aux += "<li>" + ss3[0] + "</li>";
						}
						//console.log("Emaitza: " + ss1[0].split(" "));
						var ss2 = ss1[ss1.length - 1].split(" ");
						var ss3 = ss2[1].split("]");
						aux += "<li>" + ss3[0] + "</li>";
						result += aux;
						result += "</ul>";
						return (result);

					}
				}
			}

			//console.log("kontzeptuaaaaaak \n" + terms);
			//console.log("Paths \n " + paths);
			//By lines
			var lines = terms.split('\n');
			//console.log("Luzeera: " + lines.length)
			//txt += "<ul class='list-group list-group-flush'"
			luzera = lines.length;
			for (var i = 0; i < luzera - 1; i++) {
				var concept = lines[i].split(":");
				var j = i + 1;

				txt += "<li class='list-group-item'>" 
				txt += "<p>"
						+ concept[0]
						+ "</p>"
						+ "<p><a class='btn btn-primary' data-toggle='collapse' href='#multiCollapseExample"
						+ j.toString()
						+ "' role='button' "
						+ "aria-expanded='false'   aria-controls='multiCollapseExample"
						+ j.toString() + "'><svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-arrows-angle-expand' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>" +
						  "<path fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z'/>" +
							  "</svg></a> </p>";

				//console.log("Terminoak: " + concept[1]);

				var terms = concept[1].split(",");
				//console.log("TermsSplit: " + terms);
				//Table inside each concept
				var a = "<table class='table'>"
						+ "<thead class='thead-dark'><tr><th scope='col'>#</th><th scope='col'><div><p th:text ='#{navbar.term}'>"+w1+"</p></div></th><th scope='col'><div> <p th:text ='#{navbar.files}'>"+w2+"</p></div></th><th scope='col'><div> <p th:text ='#{navbar.paths}'>"+w3+"</p></div></th></tr>"
						+ "</thead><tbody>";
				for (var k = 0; k < terms.length; k++) {
					var t = k + 1;
					var term1 = terms[k]
					a += "<tr><th scope='row'>" + t.toString() + "</th><td>"
							+ term1 +

							"</td><td  align='center'> " +

							getFile(term1) +

							"</td><td align='center'>" + getPath(term1)
					"</td></tr>";
				}

				a += "</tbody></table>";

				txt += "<div class='row'><div class='col'><div class='collapse multi-collapse' id='multiCollapseExample"
						+ j.toString() + "'><div class='card card-body'>" + a;

				txt += "</div></div></div></div>";

			}
			txt += "</li>";

			document.getElementById("d2").innerHTML = txt;
		</script>
	</section>

</body>
</html>




