<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home page</title>



</head>
<body>
	<section>
		<div class="cr">


			<h2>These are the concepts related</h2>
			<h2>to the project</h2>

		</div>
		<div class="card text-center" id="div1">
			<div class="card-header">Concepts</div>

		</div>
		<script th:inline="javascript">
			var txt = "";

			/*<![CDATA[*/

			var terms = /*[[${concepts}]]*/'default';
			var paths =/*[[${paths}]]*/'default';

			/*]]>*/
			function getFile(term1){
				var lines = paths.split('\n');
				for (var i = 0; i < lines.length - 1; i++) {
					if (lines[i].includes(term1)){
						var result = "<ul>";
						var aux="";
						var ss=lines[i].split("[");
						//console.log(ss);
						var ss1 = ss[1].split(";");
						//console.log(ss1);
						//console.log("Emaitza: " + ss1[0].split(" "));
						
						for (var j=0; j<ss1.length-1;j++) {
							var ss2 = ss1[j].split(" ");
							console.log("Emaitza: " + ss2);
							var ss3 = ss2[0].split(":");
							aux +="<li><a class='linka' href='http://localhost:9898/codefiles/"+ss3[0]+"'>"+ss3[0]+"</a></li>";
							
						}
						//console.log("Emaitza: " + ss1[0].split(" "));
						var ss2 = ss1[ss1.length-1].split(" ");
						var ss3 = ss2[0].split(":");
						
						aux +="<li><a class='linka' href='http://localhost:9898/codefiles/"+ss3[0]+"'>"+ss3[0]+"</a></li>";
						result += aux;
						result += "</ul>";
						return(result);
					}}		
			}
			function getPath(term1){
				var result = "<ul>";
				var aux="";
				var lines = paths.split('\n');
				for (var i = 0; i < lines.length - 1; i++) {
					if (lines[i].includes(term1)){
						var ss=lines[i].split("[");
						//console.log(ss);
						var ss1 = ss[1].split(";");
						//console.log(ss1);
						//console.log("Emaitza: " + ss1[0].split(" "));
						
						for (var j=0; j<ss1.length-1;j++) {
							var ss2 = ss1[j].split(" ");
							console.log(ss2);
							var ss3 = ss2[1].split("]");
							aux +="<li>"+ss3[0]+"</li>";
						}
						//console.log("Emaitza: " + ss1[0].split(" "));
						var ss2 = ss1[ss1.length-1].split(" ");
						var ss3 = ss2[1].split("]");
						aux +="<li>"+ss3[0]+"</li>";
						result += aux;
						result += "</ul>";
						return(result);
						
						
					}}		
			}
			
			//console.log("kontzeptuaaaaaak \n" + terms);
			//console.log("Paths \n " + paths);
			//By lines
			var lines = terms.split('\n');

			for (var i = 0; i < lines.length - 1; i++) {
				var concept = lines[i].split(":");
				var j = i + 1;
				//console.log(j.toString());
				var ul = document.createElement("ul");
				ul.setAttribute("class", "list-group list-group-flush");

				txt += "<li class='list-group-item'>"
				txt += "<p>"
						+ concept[0]
						+ "</p>"
						+ "<p><a class='btn btn-primary' data-toggle='collapse' href='#multiCollapseExample"
						+ j.toString()
						+ "' role='button' "
						+ "aria-expanded='false' aria-controls='multiCollapseExample"
						+ j.toString() + "'>Open concept</a> </p>";

				//console.log("Terminoak: " + concept[1]);

				var terms = concept[1].split(",");
				//console.log("TermsSplit: " + terms);
				//Table inside each concept
				var a = "<table class='table'>"
						+ "<thead class='thead-dark'><tr><th scope='col'>#</th><th scope='col'>Term</th><th scope='col'>Files this term appears</th><th scope='col'>Paths</th></tr>"
						+ "</thead><tbody>";
				for(var k=0; k<terms.length; k++) {
					var t= k+1;
					var term1=terms[k]
					a+="<tr><th scope='row'>"+t.toString()+"</th><td>"
					+   term1+
					
					"</td><td  align='center'> "+
					
					getFile(term1) +
					
					"</td><td align='center'>"+ 
					getPath(term1)
					"</td></tr>";
				}
		

				a += "</tbody></table>";

				txt += "<div class='row'><div class='col'><div class='collapse multi-collapse' id='multiCollapseExample"
						+ j.toString() + "'><div class='card card-body'>" + a;

				txt += "</div></div></div></div>";

			}
			txt += "</li>";
			document.getElementById("div1").innerHTML = txt;
		</script>
	</section>

</body>
</html>