<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home page</title>



</head>
<body>
	<section>
		<p class="goiburua">
		<center>

			<h1>This are the concepts</h1>
			<h2>Here you can find the concepts related to the project</h2>


		</center>
		</p>

		<div class="card text-center" id="div1">
			<div class="card-header">Concepts</div>

		</div>
		<script th:inline="javascript">
			var txt = "";

			/*<![CDATA[*/

			var terms = /*[[${concepts}]]*/'default';

			/*]]>*/
			console.log("kontzeptuaaaaaak \n" + terms);
			//By lines
			var lines = terms.split('\n');

			for (var i = 0; i < lines.length - 1; i++) {
				var concept = lines[i].split(":");
				var j = i + 1;
				console.log(j.toString());
				var ul = document.createElement("ul");
				ul.setAttribute("class", "list-group list-group-flush");

				txt += "<li class='list-group-item'>"
				txt += "<p>"
						+ concept[0]
						+ "</p>"
						+ "<p><a class='btn btn-primary' data-toggle='collapse' href='#multiCollapseExample"
						+ j.toString()
						+ "' role='button' "
						+ "aria-expanded='false' aria-controls='multiCollapseExample"
						+ j.toString() + "'>Zabaldu kontzeptua</a> </p>";

				console.log("Terminoak: " + concept[1]);

				var terms = concept[1].split(",");
				console.log("TermsSplit: " + terms);
				//Table inside each concept
				var a = "<table class='table'>"
						+ "<thead class='thead-dark'><tr><th scope='col'>#</th><th scope='col'>Term</th><th scope='col'>Path</th><th scope='col'>Files</th></tr>"
						+ "</thead><tbody>";
				for(var k=0; k<terms.length; k++) {
					var t= k+1;
					a+="<tr><th scope='row'>"+t.toString()+"</th><td>"
					+  "<a href='http://localhost:9898/codefiles/index.html'>"+ terms[k]+"</a> "+
					
				
					
					"</td><td>/java/build</td></tr>";
				}
/*
						"<tr><th scope='row'>1</th><td>Annontion</td><td>/java/build</td></tr><tr><th scope='row'>2</th><td>Source</td><td>java/workers</td>"
						+ "</tr><tr><th scope='row'>3</th><td>Theme</td><td>/resources/index.html</td></tr>"
*/
				a += "</tbody></table>";

				txt += "<div class='row'><div class='col'><div class='collapse multi-collapse' id='multiCollapseExample"
						+ j.toString() + "'><div class='card card-body'>" + a;

				txt += "</div></div></div></div>";

			}
			txt += "</li>";
			document.getElementById("div1").innerHTML = txt;
		</script>
	</section>

</body>
</html>