body {
	background: #e6e6e6;
}

.navbar-custom {
	background-color: #253850;
}

.cr {
	text-align: center;
	background: #e6e6e6;
}

.navbar-custom .navbar-brand {
	color: white;
	font-size: 250%;
}

.navbar-brand {
	color: white;
	font-size: 3.5rem;
}

.card-header {
	font-size: x-large;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.goiburua {
	font-size: medium;
}

.linka {
	color: blue;
	font-size: 100%;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}