body {
	background: #e9ecef;
}

.navbar-custom {
	background-color: #253850;
}

.cr {
	text-align: center;
	background: #e9ecef;
}
.prp{
	visibility:hidden;
	display: none;
	color: red;
}
.graphText{
	 text-align: center;
	
}
.levensh{
	
	color: #000000;
	font-size: medium;
	text-decoration: underline;
}

/* CLOUD 

html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
*/


.navbar-custom .navbar-brand {
	color: white;
	font-size: 250%;
}

.navbar-brand {
	color: white;
	font-size: 3.5rem;
}

p.p1{
	 text-align: center;
	 font-size: x-large;
}
.d3{
	text-align: center;
	border: 3px solid black;
}

.card-header {
	font-size: x-large;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.goiburua {
	font-size: medium;
}

.linka {
	color: blue;
	font-size: 100%;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}




.tagcloud04 ul {
	
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud04 ul li {
	position: relative;
	display: inline-block;
	margin: 0 .75em .5em 0;
	padding: 0;
}
.tagcloud04 ul li a {
	position: relative;
	display: inline-block;
	max-width: 100px;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud04 ul li span {
	position: absolute;
	top: 0;
	right: -10px;
	z-index: 2;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background-color: #3498db;
	border: 1px solid #3498db;
	border-radius: 100%;
	color: #fff;
	font-size: 13px;
	text-align: center;
	opacity: 0;
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-transform: scale(.4);
	transform: scale(.4);
}
.tagcloud04 ul li span::after {
	position: absolute;
	top: 50%;
	left: -8px;
	content: '';
	width: 0;
	height: 0;
	margin-top: -7px;
	border-color: transparent #3498db transparent transparent;
	border-style: solid;
	border-width: 7px 14px 7px 0;
}
.tagcloud04 ul li a:hover {
	border: 1px solid #3498db;
	color: #3498db;
}
.tagcloud04 ul li:hover span {
	right: -26px;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



.tagcloud06 ul {
	margin: auto;
	padding: 30px;
	 width: 30%;
	list-style: none;
}
.tagcloud06 ul li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 0;
}
.tagcloud06 ul li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em 0 .75em;
	background-color: #3498db;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud06 ul li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	z-index: -1;
	content: '';
	width: 30px;
	height: 30px;
	background-color: #3498db;
	border-radius: 50%;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud06 ul li a::after {
	position: absolute;
	top: 50%;
	left: -6px;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
.tagcloud06 ul li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tagcloud06 ul li a:hover {
	background-color: #555;
	color: #fff;
}
.tagcloud06 ul li a:hover::before {
	background-color: #555;
}
